body {
  background-color: black;
}

#loading {
  z-index: 10;
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

table {
  margin-left: 50px;
  margin-top: 7px;
  /* height:30vw; */
  /* width:30vw; */
  border: 5px solid white;
  padding: 0;
  table-layout: fixed;
  background-color: black;
}

#content {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  background-color: black;
}

#btns {
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  display: flex;
  margin-top: 1vh;
}

#btns button {
  display: inline-block;
  font-family: monospace;
}

#btns button:nth-child(2) {
  margin-top: 10px;
}

table tr {
  margin: 0;
}

table tr td {
  border: 1px solid grey;
  margin: 0;
  /* width:3vw;/ */
  /* height: 3vw; */
}

table tr td input {
  /* height: 3vw; */
  /* width: 3vw; */
  margin: 0;
  font-size: 4vw;
  color: white;
  text-align: center;
  align-items: center;
  background-color: black;
  border: 0;
  cursor: crosshair;
  font-family: Tw Cen MT;
  transition: all ease 1s;
}

table tr td input:focus {
  background-color: paleturquoise;
  color: black !important;
}

table tr td input:hover {
  background-color: rgba(175, 238, 238, 0.65);
  color: black !important;
}

.row3 td, .row6 td {
  border-bottom: 2px solid gainsboro;
}

.t3, .t6 {
  border-right: 2px solid gainsboro;
}

#progress {
  height: 50px;
  background-color: purple;
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button {
  min-height: 3vw;
  min-width: 20vw;
  font-size: 2vw;
  background: rgb(0, 96, 100);
  display: inline;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(167deg, #126636, #7cc0de);
  background-size: 400% 400%;
  -webkit-animation: movegradient 3s ease infinite;
  -moz-animation: movegradient 3s ease infinite;
  -o-animation: movegradient 3s ease infinite;
  animation: movegradient 3s ease infinite;
  border: 0;
}

/* MAKING THE TABLE SQUARE */
table {
  width: 42%;
}
td {
  width: 14%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td input {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@-webkit-keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

@-moz-keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

@-o-keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

@keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

/* importing font */
@font-face {
  font-family: Tw Cen MT;
  src: url(fonts/twcenmt.ttf);
}

/* Changing UI for mobile phones with bad UI*/
<<<<<<< HEAD
@media screen and (max-width: 650px) {
=======
@media screen and (max-width: 770px) {
>>>>>>> 924149fd91c9b835d1fa7f370dae32a0461be425
  table {
    width: 63%;
    margin-left:50%;
    transform: translateX(-50%);
  }
  td {
    width: 21%;
    position: relative;
  }
  #content{
    flex-direction: column;
  }
  #btns{
    margin-left: 0;
  }
  button{
    font-size:3vw;
    min-height: 4vw;
  }
}
