body {
  background-color: black;
}

table {
  height: calc(72vh+7px);
  margin: 0 auto;
  width: calc(72vh+7px);
  border: 5px solid white;
  padding: 0;
  background-color: black;
}

#content {
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: black;
}

#btns {
  /* left: 50%; */
  /* top: 50%; */
  /* transform: translate(-50%, 0%); */
  /* min-width: 50vw; */
  align-items: center;
  justify-content: center;
  display: flex;
  /* border:2px solid white; */
  /* position: absolute; */
  margin-top: 1vh;
}

#btns button {
  display: inline-block;
}

#btns button:nth-child(2) {
  margin-left: 10px;
}

table tr {
  /* height: 8vh; */
  margin: 0;
  /* width:72vh; */
  border: 5px solid white;
}

table tr td {
  height: calc(8vh - 5px);
  width: calc(8vh - 5px);
  border: 2px solid white;
  margin: 0;
}

table tr td input {
  height: calc(8vh - 5px);
  width: calc(8vh - 5px);
  margin: 0;
  font-size: 5vh;
  color: white;
  text-align: center;
  align-items: center;
  background-color: black;
  border: 0;
  cursor: crosshair;
  font-family: Tw Cen MT;
  transition: all ease 1s;
}

table tr td input:focus {
  background-color: paleturquoise;
  color: black !important;
}

.row3 td, .row6 td {
  border-bottom: 5px solid white;
}

.t3, .t6 {
  border-right: 5px solid white;
}

#progress {
  height: 50px;
  background-color: purple;
  /* width:0; */
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

button {
  height: 5vh;
  font-size: 3vh;
  background: rgb(0, 96, 100);
  display: inline;
  color: white;
  border-radius: 5vh;
  cursor: pointer;
  background: linear-gradient(167deg, #126636, #7cc0de);
  background-size: 400% 400%;
  -webkit-animation: movegradient 3s ease infinite;
  -moz-animation: movegradient 3s ease infinite;
  -o-animation: movegradient 3s ease infinite;
  animation: movegradient 3s ease infinite;
  border: 0;
}

@-webkit-keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black ;
  }

  100% {
    background-position: 33% 0%;
  }
}

@-moz-keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

@-o-keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

@keyframes movegradient {
  0% {
    background-position: 33% 0%;
  }

  50% {
    background-position: 68% 100%;
    color: black;
  }

  100% {
    background-position: 33% 0%;
  }
}

/* Changing UI for mobile phones with bad UI*/
/* @media () {

} */
