* {
  box-sizing: border-box;
  outline: none;
  
}

/* importing font */
@font-face {
  font-family: Tw Cen MT;
  src: url(../fonts/twcenmt.ttf);
}

body {
  background-color: black;
}

#content {
  background-color: black;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  position: absolute;
  display: flex;
  padding-top: 10px;
  box-sizing: border-box;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  color: white;
}

#modes{
  display: flex;
  flex-direction: column;
}

#modes button:nth-child(1), #modes button:nth-child(2){
  margin-bottom:0.8vw;
}

#options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 70vh
}

#content table td {
  border: 2px solid white;
  width: 33.33333%;
  height: 33.33333%;
  cursor: crosshair;
  color: white;
  text-align: center;
  font-size: 5vw;
  font-family: Tw Cen MT;
}

#content table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(15, 15, 15);
  overflow: hidden;
  transition:all 0.1s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

#content table tr:last-child td {
  border-bottom: 0;
}

#content table tr:first-child td {
  border-top: 0;
}

#content table td:first-child {
  border-left: 0;
}

#content table td:last-child {
  border-right: 0;
}

#btns {
  margin-top: 5vw;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#main{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  border-collapse: collapse;
  width: 40vw;
  height: 40vw;
  transform:rotateY(180deg);
  transform-style: preserve-3d;
}

#btns button {
  border-radius: 1vw;
  min-height: 3vw;
  cursor: pointer;
  min-width: 7.5vw;
  font-size: 1.5vw;
  background-color: #147dd4;
  color: white;
  font-family: monospace;
  border: 0;
}

#ailevel #lvl button , #modes button{
  border-radius: 20px;
  color: white;
  background: inherit;
  border: 2px solid white;
  min-height: 3vw;
  cursor: pointer;
  min-width: 5vw;
  font-size: 1.5vw;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-family: monospace;
  transition: all 0.5s;
}

#ailevel #lvl button:hover , #modes button:hover{
  background: white;
  border: 2px solid black;
  color: rgb(0, 0, 0);
}

#lvl {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  min-width: 20vw;
}

#ailevel {
  min-width: 40%;
  font-family: Tw Cen MT;
  font-size: 1.5vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
}

#choose {
  display: flex;
  flex-direction: row;
  font-family: Tw Cen MT;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#choose #avatar {
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
}

#avatar button {
  height: 4vw;
  width: 4vw;
  min-height: 30px;
  min-width: 30px;
  border-radius: 100vw;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  font-family: Tw Cen MT;
  background-color: inherit;
  color: white;
  transition:ease all .5s;
  font-size: 3vw;
}

#avatar .selected {
  background-color: #ff9800;
}


.selectedlvl{
  border-color: lightsalmon !important;
  color: lightsalmon !important;
}

.selectedmode{
  border-color: lightsalmon !important;
  color: lightsalmon !important;
}

#inprogress {
  width:50%;
  height:50%;
  position:absolute;
  color: rgb(19, 18, 18);
  background-color: whitesmoke;
  top:50vh;
  left:50vw;
  margin: 0;
  border-radius: 20px;
  transform: translate(-50%,-50%);
  display: none;;
  align-items: center;
  vertical-align: middle;
  padding-left:5px;
}

#inprogress span{
  font-family: Tw Cen MT;
  font-size:3vw;
  text-align: center;
  top:50%;
  position: absolute;
  transform: translateY(-50%);
}

@media screen and (max-width:600px) {
  #content table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
  }

  #content table td {
    font-size: 10vw;
  }

  #btns button {
    border-radius: 1vw;
    min-height: 5vw;
    cursor: pointer;
    min-width: 7.5vw;
    font-size: 3vw;
    background-color: #147dd4;
    color: white;
    font-family: monospace;
    border: 0;
  }
}